<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adicionar Produtos</title>
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />
    <%-include('parts/head.ejs', {css: ['style.css', 'pesquisa.css', 'nav-principal.css']}) %>
    <script src="js/pesquisa.js" defer></script>
</head>


<body>
    <%-include('parts/header.ejs') %>

    <main>
        <section class="box">
            <article id="produto-buscado">
                <% produtos.array.forEach(produto => { %>
                    
                <%}) %>;
                <img src="<%= produto.img %>" alt="<%= produto.nome %>">
                <h4><%= produto.nome %></h4>
                <h2><%= produto.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %></h2>
            </article>
        </section>
    </main>

    <%-include('parts/footer.ejs') %>


</body>


</html>