<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pesquisa de resultados</title>
    <%-include('parts/head.ejs', {css: ['style.css', 'pesquisa.css', 'nav-principal.css']}) %>
</head>


<body>
    <%-include('parts/header.ejs') %>

    <main>
        <section class="box">
                <article id="produto-buscado">
                    <img src="<%= produto.img%>" alt="">
                    <h4><%= produto.nome %></h4>
                    <h2><%= produto.preco %></h2>
                </article>
        </section>
    </main>

    <%-include('parts/footer.ejs') %>


</body>


</html>